<br>
<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="container">
  <div class="panel panel-default"> 
    <div class="panel-heading">
        <h3 class="panel-title" [translate]="'login'"></h3>
    </div>
    <div class="panel-body">
      <label [translate]="'mail'"></label>
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
        <input class="form-control" type="text" name="email" id="email" ngModel placeholder="Email address"/>
      </div>
      <label [translate]="'password'"></label>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input class="form-control" type="password" name="password" id="password" ngModel placeholder="Password"/>
      </div>
    </div>
    <button class="form-control btn btn-primary" type="submit">Login</button>
  </div>
</form>