<!--The content below is only a placeholder and can be replaced.-->
<div class="col-md-12 container text-center">
  <div class="text-uppercase">
    <h1 [translate]="'title'"></h1>
  </div>
  <ul class="nav nav-tabs col-md-10">
    <li class="nav-item">
      <a class="nav-link active" href="/create" (click)="create()" [translate]="'register'" ></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/list" [translate]="'list'"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" [translate]="'logout'"></a>
    </li>
  </ul>
  <div class="text-left text-uppercase">
    <h3 href="#" class="btn btn-secondary" data-toggle="modal" data-backdrop="show" data-target="#passwordModal" [translate]="'changepassword'"></h3>
  </div>
</div>

<div class="modal fade passwordModal" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h1 class="panel-title" [translate]="'changeofpassword'"></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <label></label>
          <input class="form-control" type="text" disabled [(ngModel)]="user.email" name="ema¡l"/>
          <label [translate]="'currentpassword'"></label>
          <input class="form-control" type="password" required [(ngModel)]="user.password" name="currentpassword" />
          <label [translate]="'newpassword'"></label>
          <input class="form-control" type="password" required [(ngModel)]="user.passwordNew" name="newpassword" />
          <label [translate]="'confirmpassword'"></label>
          <input class="form-control" type="password" required [(ngModel)]="confirmpassword" name="confirmpassword" />
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-lg" type="submit" (click)="Updatepassword(user, confirmpassword)" data-dismiss="modal"><i class="" [translate]="'changepassword'"></i></button>
        <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal"><i class="" [translate]="'cancel'"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 container" >
  <router-outlet></router-outlet>
</div>

