<div class="container">
  <div class=" panel panel-default"> 
    <div class="panel-heading">
        <h3 class="panel-title" [translate]="'data'"></h3>
    </div>
    <div class="panel-body">
      <label [translate]="'name'"></label>
      <input class="form-control" type="text" required [(ngModel)]="ModelPerson.name"/>
      <br>
      <label [translate]="'lastname'"></label>
      <input class="form-control" type="text" required [(ngModel)]="ModelPerson.lastName"/>
      <br>
      <label [translate]="'mail'"></label>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" required [(ngModel)]="ModelPerson.email" aria-label="Recipient's username" aria-describedby="basic-addon1">
      </div>
      <br>
      <label [translate]="'gender'"></label>
      <select class="form-control" [(ngModel)]="ModelPerson.gender">
          <option value="M" [translate]="'male'"></option>
          <option value="F" [translate]="'female'"></option> 
      </select>
      <br>
      <label [translate]="'dateborn'"></label>
      <input class="form-control" type="date" required [(ngModel)]="ModelPerson.dateBorn"/>
      <br>
      <label [translate]="'urlimage'"></label>
      <input class="form-control" type="text" [(ngModel)]="ModelPerson.image"/>
      <br>
      <label [translate]="'datestart'"></label>
      <input class="form-control" type="date" required [(ngModel)]="ModelPerson.dateStart"/> 
      <br>
      <label [translate]="'salary'"></label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input class="form-control" type="number" required [(ngModel)]="ModelPerson.salary"/>
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-success align-center" (click)="Register(ModelPerson)"><i class="fa fa-minus" [translate]="'register'" style="margin-top:10px;" ></i></button>
    </div>
  </div>
</div>