<div class="col-md-12 container">
    <table class="table table-striped">
        <thead>
          <tr>  
            <th [translate]="'name'" ></th>
            <th [translate]="'lastname'" ></th>
            <th [translate]="'gender'" ></th>
            <th [translate]="'mail'" ></th>
            <th [translate]="'dateborn'" ></th>
            <th [translate]="'urlimage'" ></th>
            <th [translate]="'datestart'" ></th>
            <th [translate]="'salary'" ></th>
            <th [translate]="'age'" ></th>
            <th [translate]="'antiquity'" ></th>
            <th [translate]="'update'" ></th>
            <th [translate]="'delete'"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of people">
            <td>{{person.name}}</td>
            <td>{{person.lastName}}</td>
            <td>{{person.gender}}</td>
            <td>{{person.email}}</td>
            <td>{{person.dateBorn}}</td>
            <td>{{person.image}}</td>
            <td>{{person.dateStart}}</td>
            <td>{{person.salary}}</td>
            <th *ngIf="validate(person,time.id,time.time)">{{person.dateBornCalculation}}</th>
            <th *ngIf="validate(person,time.id,time.time)">{{person.dateStartCalculation}}</th>
            <td>
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-backdrop="show" data-target="#editModal" (click)="Edit(person)" ><i class="fa fa-pencil " [translate]="'edit'"></i></button>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-backdrop="show" data-target="#deleteModal" (click)="Delete(person)" ><i class="fa fa-trash-o" [translate]="'delete'"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<div class="modal fade deleteModal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h1 class="panel-title" [translate]="'confdelete'"></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input class="sr-only" [(ngModel)]="ModelPerson" name="id"/>
          <label [translate]="'confirm'"></label>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-lg" type="submit" (click)="removePerson(ModelPerson)" data-dismiss="modal"><i class="" [translate]="'delete'"></i></button>
        <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal"><i class="" [translate]="'cancel'"></i></button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade editModal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h1 class="panel-title" [translate]="'data'"></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <label [translate]="'name'"></label>
          <input class="form-control" type="text" required [(ngModel)]="ModelPerson.name" name="name"/>
          <br>
          <label [translate]="'lastname'"></label>
          <input class="form-control" type="text" required [(ngModel)]="ModelPerson.lastName" name="lastName"/>
          <br>
          <label [translate]="'gender'"></label>
          <select class="form-control" [(ngModel)]="ModelPerson.gender" name="gender">
              <option value="M" [translate]="'male'"></option>
              <option value="F" [translate]="'female'"></option> 
          </select>
          <br>
          <label [translate]="'mail'"></label>
          <input class="form-control" type="text" required [(ngModel)]="ModelPerson.email" name="email" disabled/>
          <br>
          <label [translate]="'dateborn'"></label>
          <input class="form-control" type="date" required [(ngModel)]="ModelPerson.dateBorn" name="dateBorn"/>
          <br>
          <label [translate]="'urlimage'"></label>
          <input class="form-control" type="text" [(ngModel)]="ModelPerson.image" name="image"/>
          <br>
          <label [translate]="'datestart'"></label>
          <input class="form-control" type="date" required [(ngModel)]="ModelPerson.dateStart" name="dateStart"/> 
          <br>
          <label [translate]="'salary'"></label>
          <input class="form-control" type="number" required [(ngModel)]="ModelPerson.salary" name="salary"/>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-lg" type="submit" [translate]="'update'" (click)="Update(ModelPerson)" data-dismiss="modal"><i class="" [translate]="'update'"></i></button>
        <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal"><i class="" [translate]="'cancel'"></i></button>
      </div>
    </div>
  </div>
</div>